@import 'https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,500';

body {
    margin: 0;
    font-family: "Merriweather", sans-serif, "Helvetica", "Arial";
    line-height: 1.5;
}

main {
    margin: 0 auto;
    max-width: 50em;
    padding: 4em 1em;
}

h1, h2 {
    font-family: 'Montserrat', serif;
    text-align: center;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

a {
    color: #e81c4f;
}

header {
    background-color: #263d36;
    background-image: url("../assets/img/woman-umbrella-floating-jumping-466455.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}

header img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 400;
}

header p {
    font-size: 1.5em;
    color: white;
    
}

span {
    text-transform: uppercase;
}

header a {
    border: 1px solid black;
    border-radius: 290486px;
    color: black;
    background-color: lightskyblue;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
}

header a:hover {
    background: #e81c4f;
    color: white;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.center {
    grid-column: 1 / 3;
    grid-row: 2;
}