@charset "UTF-8";
/**
 * Base Styles
 */
 html {
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}


html, body,
nav, ul {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    text-align: left;
    font-kerning: normal;
    line-height: 1.45;
}

/**
 * Typography
 */
:root {
    font-size: calc(16px + 0.6vw);
}

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

/**
 * Link Styles and list Styles
 */
a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
}

ul > li {
    padding: 0;
}

ol {
    padding: 0;
    margin: 0;
}

/**
 * Layout
 */
 .container {
    max-width: 42em;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .container {
        padding: 0 0.5em;
    }
}

/*********************
****** Styling *******
*********************/

/**
 * HEADER
 */
.hero {
    height: 600px;
}

.hero-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

@supports (display: grid) {
    .hero-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 100vh;
    }
    
    .hero-grid h1 {
        grid-column: 1 / span 3;
        grid-row: 2;
    }
    
    .hero-grid p {
        grid-column: 2 / span 3;
        grid-row: 3;
    }

    .hero {
        height: 100vh;
    }
}

.hero h1 {
    font-size: 3em;
}

.hero p {
    font-size: 2em;
}

@media (max-width: 750px) {
    .hero h1, .hero p {
        line-height: 1;
    }
}

.hero h1, .hero p {
    margin: 0;
    color: #fff;
}

.hero {
    background-image: linear-gradient(to top, rgba(49,151,214,0.741), 
                    rgba(24,29,33,0.741)), 
                    url(../assets/header-s.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Larger than tablet */
@media (min-width: 750px) {
    .hero {
        background-image: linear-gradient(to top, rgba(49,151,214,0.741), 
                        rgba(24,29,33,0.741)), 
                          url(../assets/header-m.jpeg);
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .hero {
        background-image: linear-gradient(to top, rgba(49,151,214,0.741), 
                        rgba(24,29,33,0.741)), 
                          url(../assets/header.jpeg);
    }
}


.cta {
    text-align: center;
}

.center-element {
    display: flex;
    justify-content: center;
}

/**
 * Form
 */
.form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form button {
    margin: 1em auto;
}

.cta {
    background: #0078e7;
    color: #fff;
    white-space: nowrap;
    display: inline-block;
    padding: 6px 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11),
                0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    text-decoration: none;
    transition: all .15s ease;

}

.cta:hover {
    background: #277ecf;
}

.form-btn {
    font-size: 18px;
    padding: .5em 1em;
    border: transparent;
    border-radius: 2px;
    white-space: nowrap;
    cursor: pointer;
    letter-spacing: 0.01em;
    background: #0078e7;
    color: #fff;
    -moz-user-select: none;
    user-select: none;
    line-height: normal;
    text-transform: uppercase;
    
}

.form-btn:hover {
    background: #277ecf;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}