@charset "UTF-8";

/*
background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url("../assets/img/woman-umbrella-floating-jumping-466455.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
*/
header {
    background-color: #85144b;  
    padding: 2vh;
    font-weight: 700;
}

/* Larger than mobile */
@media (min-width: 400px) {}
/* Larger than tablet */
@media (min-width: 750px) {}
/* Larger than desktop */
@media (min-width: 1000px) {}
/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    header {
        height: 80vh;
    }
}

body {
    background-color: #001f3f;
}

.upper {
    text-transform: uppercase;
}

section {
    padding: 0.6rem;
    background-color: #001f3f;
    color: #fff;
    
}

h3 {
    padding-bottom: 0.6em;
}

section h3 {
    border-bottom: 2px solid #ff851b;
}

h1,
header > div > p {
    color: #fff;
}